<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>916860410731-72o5ak1bdaq1arslf4vjm3pgc2ldj9fa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.916860410731-72o5ak1bdaq1arslf4vjm3pgc2ldj9fa</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>916860410731-ttbgbob7a893cm0dgagh6ffi2bmduoei.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC3bPLP7MbtKjRuN5Wo_SKcENpjX0YuaLE</string>
	<key>GCM_SENDER_ID</key>
	<string>916860410731</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mealplanner.foodofdogs.petmeal.calDogsAi</string>
	<key>PROJECT_ID</key>
	<string>petmealai</string>
	<key>STORAGE_BUCKET</key>
	<string>petmealai.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:916860410731:ios:9e3c1728ba2cd0b33b8a2e</string>
</dict>
</plist>